body {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

/*Header---------------------------------------------*/

header {
    background-image: url(images/coin.jpg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
    height: 800px;
    width: 100%
}

/*Main-----------------------------------------------*/

.overall {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.overall2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}


.search_header {
    width: 100%;
    text-align: center;
}

.search_options {
    display: inline-block;
    margin-left: 60px;
    text-align: center;
}

#search_options {
    display: inline-block;
    text-align: center;
}

.search_results {
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    text-justify: inter-word;
    text-align: center;
    width: 25%;
    max-height: 700px;
    min-height: 250px;
}

.separate {
    background-image: url(images/a.jpg);
    height: 25px;
    width: 100%;
}

.separate_winners {
    background-image: url(images/a.jpg);
    height: 25px;
    width: 100%;
}
