body {
    font-family: 'Cinzel', serif;
}

/*Header---------------------------------------------*/

header {
    background-image: url(images/coin.jpg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
    height: 800px;
    width: 100%
}

/*Main-----------------------------------------------*/

.overall {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.overall2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}


.search_header {
    width: 100%;
    text-align: center;
}

.search_options {
    display: inline-block;
    margin-left: 60px;
    text-align: center;
}

#search_options {
    display: inline-block;
    text-align: center;
}
