/*NAVBAR--------------------------------------------------*/
.navul {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navli {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1412a4;
}

/*tables---------------------------------------------------------------------*/


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: justify;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5b5353;
    color: white;
}

.button1 {
    text-align: center;
}

.button2 {
    width: 80%;
}

.click:link, .click:visited, .click:active {
    color: black;
}

.click:hover {
    color: red;
}

/*General--------------------------------------------------*/
.center {
    text-align: center;
}

.amounts {
    display: inline-block;
    text-align: center;
    padding: 0px 15px 10px 15px; 
}





